html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.content {
  text-align: center;
}
.title {
  font-size: 84px;
}
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.m-b-md {
  margin-bottom: 30px;
}
.form-login {
  position: relative;
  max-width: 350px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.form-login div > p {
  width: 73px;
}
.auth-fields {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.auth-fields input {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  width: 100%;
}
.auth-fields > div {
  display: flex;
  align-items: center;
  width: 100%;
}
.submit-btns {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0px 15%;
}
.submit-btns input {
  margin: 0 auto;
  width: 93px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.error_message {
  position: relative;
  background-color: #cc0030;
  border: 2px solid #4e0012;
  border-radius: 10px;
  padding: 5px 20px;
  color: #DEDEDE;
  margin-top: 20px;
}
