@font-face {
    font-family: 'Adamina';
    src: url('Adamina-Regular.woff2') format('woff2'),
        url('Adamina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

