@background-color: #F5F5F5;
@text-color: #231F20;
@second-text-color: #707070;
@white-text-color: #DEDEDE;
@orange-color: #FF6B00;
@blue-background: #DCE5E7;
@darker-blue: #D4DADE;


@xl-width: 1170px;
@lg-width: 960px;
@md-width: 760px;
@sm-width: 540px;


* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}



/*
  ----------------------------------------------------------------------
    Basic Settings
  ----------------------------------------------------------------------
*/

section {
    position: relative;

    @media (min-width: 1200px){
        padding-right: calc(~'(100% - 1170px)/2');
        padding-left:  calc(~'(100% - 1170px)/2');
    }

    @media (max-width: 1199px) and (min-width: 992px){
        padding-right: calc(~'(100% - 960px)/2');
        padding-left:  calc(~'(100% - 960px)/2');
    }

    @media (max-width: 991px) and (min-width: 768px){
        padding-right: calc(~'(100% - 760px)/2');
        padding-left:  calc(~'(100% - 760px)/2');
    }

    @media (max-width: 767px) and (min-width: 576px){
        padding-right: calc(~'(100% - 540px)/2');
        padding-left:  calc(~'(100% - 540px)/2');
    }

    @media (max-width: 575px) {
        padding-right: 10px;
        padding-left:  10px;
    }
}

.default-text{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
}

h1 {
    .default-text;
    font-weight: 600;
    font-size: 60px;
    color: @text-color;
    margin-bottom: 10px;

    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 42px;
    }
    @media (max-width: 575px) {
        margin-bottom: 5px;
        font-size: 32px;
    }
}

h2 {
    .default-text;
    font-size: 40px;
    color: @text-color;
    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 30px;
    }
    @media (max-width: 575px) {
        font-size: 22px;
    }  
}

h3 {
    .default-text;
    font-size: 36px;
    color: @text-color;
    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 28px;
    }
    @media (max-width: 575px) {
        font-size: 20px;
    }
}

h4 {
  .default-text;
  font-weight: lighter;
  font-size: 24px;
  color: @blue-background;
}

p {
  .default-text;
  font-size: 20px;
  color: @text-color;
}

a {
    text-decoration: none;
}

hr {
    width: 275px;
    border: none;
    height: 2px;
    color: @orange-color;
    background-color: @orange-color;
    box-shadow: 0 3px 7px fade(@orange-color, 35%);
    margin: 0 auto;
    @media (max-width: 575px) {
        width: 200px;
    }
    border-radius: 2px;
}

.main-button {
    .default-text;
    width: 500px;
    height: 100px;
    background-color: @orange-color;
    border-radius: 35px;
    border: none;
    font-size: 42px;
    color: @background-color;
    font-weight: 600;
    box-shadow: 0px 2px 4px fade(black, 50%);
    @media (max-width: 991px) and (min-width: 576px) {
        width: 450px;
        height: 75px;
        font-size: 38px;
        border-radius: 20px;
    }
    @media (max-width: 575px) {
        width: 250px;
        height: 50px;
        font-size: 26px;
        border-radius: 10px;
    }
    transition: all 0.3s ease 0s;
}

.main-button:hover {
    cursor: pointer;
    border: 3px solid @orange-color;
    background-color: fade(@blue-background, 60%);
    color: @orange-color;
    transform: translateY(-5px);
    text-shadow: 2px 2px 5px fade(black, 25%);
}

.logo-icon {
    position: absolute;
    @media (min-width: 992px) {
        width: 235px;
        height: 86px;
        background-image: url(../icons/logo-header.svg);
    }
    @media (max-width: 991px) {
        width: 170px;
        height: 58px;
        top: 10px;
        background-image: url(../icons/mob-logo-header.svg);
    }
}

/*  -------------------------------------
    |                                   |
    |          Flex containers          |
    |                                   |
    -------------------------------------
*/
.flex-container {
    display: flex;
    width: 100%;
    position: relative;
}

.columned {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}


/*  -------------------------------------
    |                                   |
    |              Header               |
    |                                   |
    -------------------------------------
*/
#header { 
    @media (min-width: 1200px){
        height: 200px;
    }
    @media (max-width: 1199px) and (min-width: 992px) {
        height: 175px;
    }
    @media (max-width: 991px) {
        height: 75px;
        position: sticky;
        top: 0;
        z-index: 3;
        border-bottom: 1.5px solid fade(@second-text-color, 80%);
    }
    background-color: @background-color;
}

#header .logo-icon {
    @media (min-width: 992px) {
        top: 10px;
    }
    @media (max-width: 991px) {
        top: 10px;
    }
}

#phone {
    margin-right: 30px;
}

.social-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      margin-left: 25px;
      position: relative;
      >p {
          position: absolute;
          font-size: 20px;
          top: 4px;
          left: 7px;
          color: @second-text-color;
      }
    }

    @media (min-width: 1200px){
        right: calc(~'(100% - 1170px)/2');
    }

    @media (max-width: 1199px) and (min-width: 992px){
        right: calc(~'(100% - 960px)/2');
    }

    @media (max-width: 991px) {
        display: none;
    }

}

#header .social-links {
    top: 45px;
}

.main-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    @media (min-width: 1200px){
        width: @xl-width;
    }

    @media (max-width: 1199px) and (min-width: 992px){
        width: @lg-width;
    }

    @media (max-width: 991px) {
        display: none;
    }

}

.main-menu a, .main-menu a:visited {
    .default-text;
    color: @text-color;
    font-size: 20px;
    font-weight: 600;
    width: 125px;
    height: 50px;
    padding-top: 9px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.main-menu a:hover, .main-menu a:visited:hover {
    background-color: lighten(@orange-color, 5%);
    color: @background-color;
}


/*  -------------------------------------
    |                                   |
    |         Mobile selector           |
    |                                   |
    -------------------------------------
*/
.mobile-selector {
    position: absolute;
    z-index: 100;
    @media (min-width: 992px) {
        display: none;
    }
    @media (max-width: 991px) and (min-width: 768px){
        right: calc(~'(100% - 760px)/2');
    }

    @media (max-width: 767px) and (min-width: 576px){
        right: calc(~'(100% - 540px)/2');
    }

    @media (max-width: 575px) {
        right: 20px;
    }
    top: 15px;
}

#mob-menu {
    left: 100%;
    padding-left:  30px;
    padding-right: 30px;
    padding-top: 10px;
    position: fixed;
    z-index: 2;
    width: 320px;
    height: 100vh;
    padding-bottom: 75px;
    background-image: linear-gradient(to left top, lighten(@second-text-color, 40%), @blue-background, lighten(@second-text-color, 40%));
    transition: .4s ease;
    border-left: 4px groove darken(@darker-blue, 20%);
}

#mob-menu nav {
    height: calc(~'100vh - 210px');
    justify-content: space-between;
}

#mob-menu.open {
    left: calc(~"100% - 320px");
}

#mob-menu a, #mob-menu a:visited {
    .default-text;
    color: @text-color;
    font-size: 28px;
    font-weight: 600;
    width: 200px;
    height: 200%;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mob-menu nav {
    display: flex;
    flex-direction: column;
}

#mob-menu #mob-social-links {
    margin-top: 25px;
}

.back-layer {
    position: fixed;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

/*  -------------------------------------
    |                                   |
    |            End section            |
    |                                   |
    -------------------------------------
*/
#end {
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../images/back.jpg);
    background-size: cover;
    //height: 400px;
    background-position: center;
}

#end p {
    text-align: center;
    color: @background-color;
}

#end hr {
    margin-top: 10px;
    margin-bottom: 60px;
    color: @background-color;
    background-color: @background-color;
    box-shadow: none;
}

/*  -------------------------------------
    |                                   |
    |              Footer               |
    |                                   |
    -------------------------------------
*/
#footer {
    padding-top: 35px;
    position: relative;
    background-color: @second-text-color;
    height: 200px;
}

#footer-container {
    position: relative;
    display: inline-block;
    @media (min-width: 992px) {
        padding-top: 86px;
    }
    @media (max-width: 991px) {
        padding-top: 58px;
    }
}

#footer .logo-icon {
    top: 0px;
}

#footer .social-links {
    bottom: 45px;
}

#mob-social-links {
    @media (min-width: 992px) {
        display: none;
    }
    @media (max-width: 991px) {
        display: flex;
    }
    position: relative;
    top: 0px;
    width: 100%;
    margin-bottom: 20px;
    a, a:visited {
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
    }
}


/*
  ----------------------------------------------------------------------
    Index Page
  ----------------------------------------------------------------------
*/

/*  -------------------------------------
    |                                   |
    |           Main section            |
    |                                   |
    -------------------------------------
*/
#main {
    background-image: url(../images/main_edited.png);
    height: 860px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 991px) and (min-width: 576px) {
        height: 700px;
    }
    @media (max-width: 575px) {
        height: 485px;
    }
}

#main h1 {
    font-size: 60px;
    text-align: center;
    color: @white-text-color;
    text-shadow: 1px 3px 4px fade(black, 30%);
    br {
        display: none;
    }
    @media (max-width: 991px) and (min-width: 576px) {
        br {
            display: inline;
        }
        font-size: 48px;
    }
    @media (max-width: 575px) {
        br {
            display: inline;
        }
        font-size: 36px;
        line-height: 44px;
    }

}

#main>div {
    top: 418px;
    @media (max-width: 991px) and (min-width: 576px) {
        top: 345px;
    }
    @media (max-width: 575px) {
        top: 225px;
    }
}

#main .main-button {
    margin-top: 115px;
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 75px;
    }
    @media (max-width: 575px) {
        margin-top: 45px;
    }
}


/*  -------------------------------------
    |                                   |
    |          Why us section           |
    |                                   |
    -------------------------------------
*/
#why-us {
    background-color: @blue-background;
    height: fit-content;
    padding-top: 55px;
    padding-bottom: 55px;
    
}

#why-us h1 {
    text-align: center;
}


#why-us h2 {
    margin-top: 20px;
    text-align: center;
}

#why-us>div {
    margin-top: 50px;
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 35px;
    }
    @media (max-width: 575px) {
        margin-top: 20px;
    }
}

#why-us>div>div {
    justify-content: unset;
    margin-top: 17px;
    margin-bottom: 17px;
    img {
        margin-right: 20px;
    }
    
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media (max-width: 575px) {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
}


/*  -------------------------------------
    |                                   |
    |       Our Services section        |
    |                                   |
    -------------------------------------
*/
#our-services {
    padding-top: 55px;
    padding-bottom: 45px;
    h1 {
        text-align: center;
    } 
}

#windows {
    background-image: linear-gradient(fade(@second-text-color, 25%),fade(@second-text-color, 25%)),
                        url(../images/windows.jpg);
}

#doors {
    background-image: linear-gradient(fade(@orange-color, 40%),fade(@orange-color, 40%)),
                        url(../images/doors.jpg);
}

#balconies {
    background-image: linear-gradient(fade(@second-text-color, 40%),fade(@second-text-color, 40%)),
                        url(../images/balconies.jpg);
}

#services>section a, #services>section a:visited {
    .default-text;
    text-align: center;
    line-height: 500px;
    width: 100%;
    height: 100%;
    color: @background-color;
    font-size: 80px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 3px 6px fade(black, 68%);
    
    transition: 0.7s;


    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 56px;
        line-height: 350px;
    }

    @media (max-width: 575px) {
        font-size: 36px;
        line-height: 200px;
    }

}

#services>section {
    background-size: cover;
    background-position: center;
    padding: 0;
}

#windows a:hover {
    background-color: #004287;
}

#doors a:hover {
    background-color: lighten(@orange-color, 10%);
}

#balconies a:hover {
    background-color: #5199FF;
}

/*  -------------------------------------
    |                                   |
    |      End of landing section       |
    |                                   |
    -------------------------------------
*/

#end-landing {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: @blue-background;

    hr {
        text-align: center;
        margin-bottom: 35px;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: 40px;
    }
}


/*
  ----------------------------------------------------------------------
    About Page
  ----------------------------------------------------------------------
*/

/*  -------------------------------------
    |                                   |
    |          About section            |
    |                                   |
    -------------------------------------
*/
#about {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @blue-background;
    h1 {
        text-align: center;
    }
    p {
        width: 630px;
        padding-left: 60px;
        font-size: 34px;
        height: 640px;
        @media (max-width: 1199px) {
            padding: 0;
            width: 100%;
            height: fit-content;
            margin-bottom: 20px;
        }
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
    >div {
        margin-top: 45px;
        @media (max-width: 575px) {
            margin-top: 25px;
        }
    }
}

#about div {
    flex-wrap: wrap-reverse;
}

.img-about {
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 540px;
    height: 640px;
    border-radius: 15px;
    @media (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 575px) {
        width: 100%;
        height: 400px;
    }
}

/*  -------------------------------------
    |                                   |
    |        Contacts section           |
    |                                   |
    -------------------------------------
*/
#contacts {
    padding-top: 55px;
    padding-bottom: 55px;
    h1 {
        text-align: center;
    }
    hr {
        margin-bottom: 55px;
        @media (max-width: 575px) {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 575px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

#contacts p {
    font-size: 34px;
    width: 100%;
    @media (max-width: 1199px) {
    }
    @media (max-width: 575px) {
        font-size: 24px;
    }
    @media (max-width: 350px) {
        font-size: 20px;
    }
    b {
        font-weight: 600;
    }
}

#contacts img {
    display: inline-block;
    margin-right: 35px;
    @media (max-width: 575px) {
        margin-right: 15px;
    }
}

#contacts>div>div {
    justify-content: flex-start;
    margin-bottom: 35px;
    @media (max-width: 575px) {
        margin-bottom: 15px;
    }
}


/*  -------------------------------------
    |                                   |
    |           Map section             |
    |                                   |
    -------------------------------------
*/
#map {
    background-color: @blue-background;
    padding-top: 55px;
    padding-bottom: 25px;
    @media (max-width: 575px) {
        padding-top: 25px;
    }
}

#map iframe {
    width: 100%;
    height: 80vh;
    border: 1px solid @second-text-color;
}

#map h1 {
    text-align: center;
}

#map hr {
    margin-bottom: 45px;
    @media (max-width: 575px) {
        margin-bottom: 25px;
    }
}

/*
  ----------------------------------------------------------------------
    Windows Page
  ----------------------------------------------------------------------
*/

/*  -------------------------------------
    |                                   |
    |          Types section            |
    |                                   |
    -------------------------------------
*/
#types {
    background-color: @darker-blue;
    padding-top: 55px;
    padding-bottom: 55px;
    @media (max-width: 575px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    >div {
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    hr {
        margin-bottom: 45px;
        @media (max-width: 575px) {
            margin-bottom: 5px;
        }
    }
    h1 {
        text-align: center;
    }
}

.window-type, .window-type:visited {
    display: inline-block;
    position: relative;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px fade(black, 50%);
    @media (max-width: 1199px) and (min-width: 992px), (max-width: 575px){
        width: 300px;
    }
    @media (max-width: 991px) {
        margin-bottom: 25px;
    }
    div {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 400px;
        @media (max-width: 1199px) and (min-width: 992px), (max-width: 575px){
            width: 300px;
            height: 350px;
        }
    }
    p {
        font-size: 26px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #A6B7BB;
        @media (max-width: 1199px) and (min-width: 992px), (max-width: 575px){   
            font-size: 22px;
        }
    }
}

#metalplastic {
    background-image: url(../images/metalplastic-window.jpg);
}

#aluminium {
    background-image: url(../images/aluminium-window.jpg);
}

#wooden {
    background-image: url(../images/wooden-window.jpg);
}

/*  -------------------------------------
    |                                   |
    |         Prices section            |
    |                                   |
    -------------------------------------
*/
#prices {
    background-color: @blue-background;
    padding-top: 55px;
    padding-bottom: 55px;
    @media (max-width: 575px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    hr {
        margin-bottom: 45px;
        @media (max-width: 575px) {
            margin-bottom: 5px;
        }
    }
    h1 {
        text-align: center;
    }
}