@background-color: #F5F5F5;
@text-color: #231F20;
@second-text-color: #707070;
@white-text-color: #DEDEDE;
@orange-color: #FF6B00;
@blue-background: #DCE5E7;


@xl-width: 1170px;
@lg-width: 960px;
@md-width: 760px;
@sm-width: 540px;


* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;

    @media (min-width: 1200px){
        padding-right: calc(~'(100% - 1170px)/2');
        padding-left:  calc(~'(100% - 1170px)/2');
    }

    @media (max-width: 1199px) and (min-width: 992px){
        padding-right: calc(~'(100% - 960px)/2');
        padding-left:  calc(~'(100% - 960px)/2');
    }

    @media (max-width: 991px) and (min-width: 768px){
        padding-right: calc(~'(100% - 760px)/2');
        padding-left:  calc(~'(100% - 760px)/2');
    }

    @media (max-width: 767px) and (min-width: 576px){
        padding-right: calc(~'(100% - 540px)/2');
        padding-left:  calc(~'(100% - 540px)/2');
    }

    @media (max-width: 575px) {
        padding-right: 10px;
        padding-left:  10px;
    }
}

.default-text{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
}

h1 {
    .default-text;
    font-weight: 600;
    font-size: 60px;
    color: @text-color;
    margin-bottom: 10px;

    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 42px;
    }
    @media (max-width: 575px) {
        margin-bottom: 5px;
        font-size: 32px;
    }
}

h2 {
    .default-text;
    font-size: 40px;
    color: @text-color;
    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 30px;
    }
    @media (max-width: 575px) {
        font-size: 22px;
    }  
}

h3 {
    .default-text;
    font-size: 36px;
    color: @text-color;
    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 28px;
    }
    @media (max-width: 575px) {
        font-size: 20px;
    }
}

h4 {
  .default-text;
  font-weight: lighter;
  font-size: 24px;
  color: @blue-background;
}

p {
  .default-text;
  font-size: 20px;
  color: @text-color;
}

hr {
    width: 275px;
    border: none;
    height: 2px;
    color: @orange-color;
    background-color: @orange-color;
    box-shadow: 0 3px 7px fade(@orange-color, 35%);
    margin: 0 auto;
    @media (max-width: 575px) {
        width: 200px;
    }
    border-radius: 2px;
}

.main-button {
    .default-text;
    width: 500px;
    height: 100px;
    background-color: @orange-color;
    border-radius: 35px;
    border: none;
    font-size: 42px;
    color: @background-color;
    font-weight: 600;
    box-shadow: 0px 2px 4px fade(black, 50%);
    @media (max-width: 991px) and (min-width: 576px) {
        width: 450px;
        height: 75px;
        font-size: 38px;
        border-radius: 20px;
    }
    @media (max-width: 575px) {
        width: 250px;
        height: 50px;
        font-size: 26px;
        border-radius: 10px;
    }
}

.logo-icon {
    position: absolute;
    @media (min-width: 992px) {
        width: 235px;
        height: 86px;
        background-image: url(../icons/logo-header.svg);
    }
    @media (max-width: 991px) {
        width: 170px;
        height: 58px;
        top: 10px;
        background-image: url(../icons/mob-logo-header.svg);
    }
}

/*  -------------------------------------
    |                                   |
    |          Flex containers          |
    |                                   |
    -------------------------------------
*/
.flex-container {
    display: flex;
    width: 100%;
    position: relative;
}

.columned {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}


/*  -------------------------------------
    |                                   |
    |              Header               |
    |                                   |
    -------------------------------------
*/
#header {
    @media (min-width: 992px) {
        height: 200px;
    }
    @media (max-width: 991px) {
        height: 75px;
    }
    background-color: @background-color;
}

#header .logo-icon {
    @media (min-width: 992px) {
        top: 10px;
    }
    @media (max-width: 991px) {
        top: 10px;
    }
}

#header a {
    text-decoration: none;
}

#phone {
    margin-right: 30px;
}

.social-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      margin-left: 25px;
      position: relative;
      >p {
          position: absolute;
          font-size: 20px;
          top: 4px;
          left: 7px;
          color: @second-text-color;
      }
    }

    @media (min-width: 1200px){
        right: calc(~'(100% - 1170px)/2');
    }

    @media (max-width: 1199px) and (min-width: 992px){
        right: calc(~'(100% - 960px)/2');
    }

    @media (max-width: 991px) {
        display: none;
    }

}

#header .social-links {
    top: 45px;
}

.mobile-selector {
    position: absolute;
    @media (min-width: 992px) {
        display: none;
    }
    @media (max-width: 991px) and (min-width: 768px){
        right: calc(~'(100% - 760px)/2');
    }

    @media (max-width: 767px) and (min-width: 576px){
        right: calc(~'(100% - 540px)/2');
    }

    @media (max-width: 575px) {
        right: 20px;
    }

    right: 0px;
    top: 15px;
}

.main-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    @media (min-width: 1200px){
        width: @xl-width;
    }

    @media (max-width: 1199px) and (min-width: 992px){
        width: @lg-width;
    }

    @media (max-width: 991px) {
        display: none;
    }

}

.main-menu a, .main-menu a:visited {
    .default-text;
    color: @text-color;
    font-size: 20px;
    font-weight: 600;
    width: 125px;
    height: 50px;
    padding-top: 9px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.main-menu a:hover, .main-menu a:visited:hover {
    background-color: lighten(@orange-color, 5%);
    color: @background-color;
}


/*  -------------------------------------
    |                                   |
    |           Main section            |
    |                                   |
    -------------------------------------
*/
#main {
    background-image: url(../images/main_edited.png);
    height: 860px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 991px) and (min-width: 576px) {
        height: 700px;
    }
    @media (max-width: 575px) {
        height: 485px;
    }
}

#main h1 {
    font-size: 60px;
    text-align: center;
    color: @white-text-color;
    text-shadow: 1px 3px 4px fade(black, 30%);
    br {
        display: none;
    }
    @media (max-width: 991px) and (min-width: 576px) {
        br {
            display: inline;
        }
        font-size: 48px;
    }
    @media (max-width: 575px) {
        br {
            display: inline;
        }
        font-size: 36px;
        line-height: 44px;
    }

}

#main>div {
    top: 418px;
    @media (max-width: 991px) and (min-width: 576px) {
        top: 345px;
    }
    @media (max-width: 575px) {
        top: 225px;
    }
}

#main .main-button {
    margin-top: 115px;
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 75px;
    }
    @media (max-width: 575px) {
        margin-top: 45px;
    }
}


/*  -------------------------------------
    |                                   |
    |          Why us section           |
    |                                   |
    -------------------------------------
*/
#why-us {
    background-color: @blue-background;
    height: fit-content;
    padding-top: 55px;
    padding-bottom: 55px;
    
}

#why-us h1 {
    text-align: center;
}


#why-us h2 {
    margin-top: 20px;
    text-align: center;
}

#why-us>div {
    margin-top: 50px;
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 35px;
    }
    @media (max-width: 575px) {
        margin-top: 20px;
    }
}

#why-us>div>div {
    justify-content: unset;
    margin-top: 17px;
    margin-bottom: 17px;
    img {
        margin-right: 20px;
    }
    
    @media (max-width: 991px) and (min-width: 576px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media (max-width: 575px) {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
}


/*  -------------------------------------
    |                                   |
    |       Our Services section        |
    |                                   |
    -------------------------------------
*/
#our-services {
    padding-top: 55px;
    padding-bottom: 45px;
    h1 {
        text-align: center;
    } 
}

#windows {
    background-image: linear-gradient(fade(@second-text-color, 35%),fade(@second-text-color, 35%)),
                        url(../images/windows.jpg);
}

#doors {
    background-image: linear-gradient(fade(@orange-color, 40%),fade(@orange-color, 40%)),
                        url(../images/doors.jpg);
}

#balconies {
    background-image: linear-gradient(fade(@second-text-color, 40%),fade(@second-text-color, 40%)),
                        url(../images/balconies.jpg);
}

#services>section a, #services>section a:visited {
    .default-text;
    text-align: center;
    line-height: 500px;
    width: 100%;
    height: 100%;
    color: @background-color;
    font-size: 80px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 3px 6px fade(black, 68%);


    @media (max-width: 991px) and (min-width: 576px) {
        font-size: 56px;
        line-height: 350px;
    }

    @media (max-width: 575px) {
        font-size: 36px;
        line-height: 200px;
    }

}

#services>section {
    background-size: cover;
    padding: 0;
}

/*#windows a:hover {

}*/


/*  -------------------------------------
    |                                   |
    |            End section            |
    |                                   |
    -------------------------------------
*/
#end {
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../images/back.jpg);
    background-size: cover;
    //height: 400px;
    background-position: center;
}

#end p {
    text-align: center;
    color: @background-color;
}

#end hr {
    margin-top: 10px;
    margin-bottom: 60px;
    color: @background-color;
    background-color: @background-color;
    box-shadow: none;
}


/*  -------------------------------------
    |                                   |
    |      End of landing section       |
    |                                   |
    -------------------------------------
*/

#end-landing {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: @blue-background;

    hr {
        text-align: center;
        margin-bottom: 35px;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: 40px;
    }
}




/*  -------------------------------------
    |                                   |
    |              Footer               |
    |                                   |
    -------------------------------------
*/
#footer {
    padding-top: 35px;
    position: relative;
    background-color: @second-text-color;
    height: 200px;
}

#footer-container {
    position: relative;
    display: inline-block;
    @media (min-width: 992px) {
        padding-top: 86px;
    }
    @media (max-width: 991px) {
        padding-top: 58px;
    }
}

#footer .logo-icon {
    top: 0px;
}

#footer .social-links {
    bottom: 45px;
}

#mob-social-links {
    @media (min-width: 992px) {
        display: none;
    }
    @media (max-width: 991px) {
        display: flex;
    }
    position: relative;
    top: 0px;
    width: 100%;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
    }
}