* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
/*
  ----------------------------------------------------------------------
    Basic Settings
  ----------------------------------------------------------------------
*/
section {
  position: relative;
}
@media (min-width: 1200px) {
  section {
    padding-right: calc((100% - 1170px)/2);
    padding-left: calc((100% - 1170px)/2);
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  section {
    padding-right: calc((100% - 960px)/2);
    padding-left: calc((100% - 960px)/2);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  section {
    padding-right: calc((100% - 760px)/2);
    padding-left: calc((100% - 760px)/2);
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  section {
    padding-right: calc((100% - 540px)/2);
    padding-left: calc((100% - 540px)/2);
  }
}
@media (max-width: 575px) {
  section {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.default-text {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  font-size: 60px;
  color: #231F20;
  margin-bottom: 10px;
}
@media (max-width: 991px) and (min-width: 576px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    margin-bottom: 5px;
    font-size: 32px;
  }
}
h2 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #231F20;
}
@media (max-width: 991px) and (min-width: 576px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 22px;
  }
}
h3 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #231F20;
}
@media (max-width: 991px) and (min-width: 576px) {
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  h3 {
    font-size: 20px;
  }
}
h4 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-weight: lighter;
  font-size: 24px;
  color: #DCE5E7;
}
p {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #231F20;
}
a {
  text-decoration: none;
}
hr {
  width: 275px;
  border: none;
  height: 2px;
  color: #FF6B00;
  background-color: #FF6B00;
  box-shadow: 0 3px 7px rgba(255, 107, 0, 0.35);
  margin: 0 auto;
  border-radius: 2px;
}
@media (max-width: 575px) {
  hr {
    width: 200px;
  }
}
.main-button {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  width: 500px;
  height: 100px;
  background-color: #FF6B00;
  border-radius: 35px;
  border: none;
  font-size: 42px;
  color: #F5F5F5;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}
@media (max-width: 991px) and (min-width: 576px) {
  .main-button {
    width: 450px;
    height: 75px;
    font-size: 38px;
    border-radius: 20px;
  }
}
@media (max-width: 575px) {
  .main-button {
    width: 250px;
    height: 50px;
    font-size: 26px;
    border-radius: 10px;
  }
}
.main-button:hover {
  cursor: pointer;
  border: 3px solid #FF6B00;
  background-color: rgba(220, 229, 231, 0.6);
  color: #FF6B00;
  transform: translateY(-5px);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.logo-icon {
  position: absolute;
}
@media (min-width: 992px) {
  .logo-icon {
    width: 235px;
    height: 86px;
    background-image: url(../icons/logo-header.svg);
  }
}
@media (max-width: 991px) {
  .logo-icon {
    width: 170px;
    height: 58px;
    top: 10px;
    background-image: url(../icons/mob-logo-header.svg);
  }
}
/*  -------------------------------------
    |                                   |
    |          Flex containers          |
    |                                   |
    -------------------------------------
*/
.flex-container {
  display: flex;
  width: 100%;
  position: relative;
}
.columned {
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}
/*  -------------------------------------
    |                                   |
    |              Header               |
    |                                   |
    -------------------------------------
*/
#header {
  background-color: #F5F5F5;
}
@media (min-width: 1200px) {
  #header {
    height: 200px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #header {
    height: 175px;
  }
}
@media (max-width: 991px) {
  #header {
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 1.5px solid rgba(112, 112, 112, 0.8);
  }
}
@media (min-width: 992px) {
  #header .logo-icon {
    top: 10px;
  }
}
@media (max-width: 991px) {
  #header .logo-icon {
    top: 10px;
  }
}
#phone {
  margin-right: 30px;
}
.social-links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  margin-left: 25px;
  position: relative;
}
.social-links a > p {
  position: absolute;
  font-size: 20px;
  top: 4px;
  left: 7px;
  color: #707070;
}
@media (min-width: 1200px) {
  .social-links {
    right: calc((100% - 1170px)/2);
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .social-links {
    right: calc((100% - 960px)/2);
  }
}
@media (max-width: 991px) {
  .social-links {
    display: none;
  }
}
#header .social-links {
  top: 45px;
}
.main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
}
@media (min-width: 1200px) {
  .main-menu {
    width: 1170px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .main-menu {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .main-menu {
    display: none;
  }
}
.main-menu a,
.main-menu a:visited {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  color: #231F20;
  font-size: 20px;
  font-weight: 600;
  width: 125px;
  height: 50px;
  padding-top: 9px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.main-menu a:hover,
.main-menu a:visited:hover {
  background-color: #ff7a1a;
  color: #F5F5F5;
}
/*  -------------------------------------
    |                                   |
    |         Mobile selector           |
    |                                   |
    -------------------------------------
*/
.mobile-selector {
  position: absolute;
  z-index: 100;
  top: 15px;
}
@media (min-width: 992px) {
  .mobile-selector {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .mobile-selector {
    right: calc((100% - 760px)/2);
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .mobile-selector {
    right: calc((100% - 540px)/2);
  }
}
@media (max-width: 575px) {
  .mobile-selector {
    right: 20px;
  }
}
#mob-menu {
  left: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  position: fixed;
  z-index: 2;
  width: 320px;
  height: 100vh;
  padding-bottom: 75px;
  background-image: linear-gradient(to left top, #d6d6d6, #DCE5E7, #d6d6d6);
  transition: 0.4s ease;
  border-left: 4px groove #9aa8b2;
}
#mob-menu nav {
  height: calc(100vh - 210px);
  justify-content: space-between;
}
#mob-menu.open {
  left: calc(100% - 320px);
}
#mob-menu a,
#mob-menu a:visited {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  color: #231F20;
  font-size: 28px;
  font-weight: 600;
  width: 200px;
  height: 200%;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mob-menu nav {
  display: flex;
  flex-direction: column;
}
#mob-menu #mob-social-links {
  margin-top: 25px;
}
.back-layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/*  -------------------------------------
    |                                   |
    |            End section            |
    |                                   |
    -------------------------------------
*/
#end {
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-position: center;
}
#end p {
  text-align: center;
  color: #F5F5F5;
}
#end hr {
  margin-top: 10px;
  margin-bottom: 60px;
  color: #F5F5F5;
  background-color: #F5F5F5;
  box-shadow: none;
}
/*  -------------------------------------
    |                                   |
    |              Footer               |
    |                                   |
    -------------------------------------
*/
#footer {
  padding-top: 35px;
  position: relative;
  background-color: #707070;
  height: 200px;
}
#footer-container {
  position: relative;
  display: inline-block;
}
@media (min-width: 992px) {
  #footer-container {
    padding-top: 86px;
  }
}
@media (max-width: 991px) {
  #footer-container {
    padding-top: 58px;
  }
}
#footer .logo-icon {
  top: 0px;
}
#footer .social-links {
  bottom: 45px;
}
#mob-social-links {
  position: relative;
  top: 0px;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  #mob-social-links {
    display: none;
  }
}
@media (max-width: 991px) {
  #mob-social-links {
    display: flex;
  }
}
#mob-social-links a,
#mob-social-links a:visited {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}
/*
  ----------------------------------------------------------------------
    Index Page
  ----------------------------------------------------------------------
*/
/*  -------------------------------------
    |                                   |
    |           Main section            |
    |                                   |
    -------------------------------------
*/
#main {
  background-image: url(../images/main_edited.png);
  height: 860px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) and (min-width: 576px) {
  #main {
    height: 700px;
  }
}
@media (max-width: 575px) {
  #main {
    height: 485px;
  }
}
#main h1 {
  font-size: 60px;
  text-align: center;
  color: #DEDEDE;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}
#main h1 br {
  display: none;
}
@media (max-width: 991px) and (min-width: 576px) {
  #main h1 {
    font-size: 48px;
  }
  #main h1 br {
    display: inline;
  }
}
@media (max-width: 575px) {
  #main h1 {
    font-size: 36px;
    line-height: 44px;
  }
  #main h1 br {
    display: inline;
  }
}
#main > div {
  top: 418px;
}
@media (max-width: 991px) and (min-width: 576px) {
  #main > div {
    top: 345px;
  }
}
@media (max-width: 575px) {
  #main > div {
    top: 225px;
  }
}
#main .main-button {
  margin-top: 115px;
}
@media (max-width: 991px) and (min-width: 576px) {
  #main .main-button {
    margin-top: 75px;
  }
}
@media (max-width: 575px) {
  #main .main-button {
    margin-top: 45px;
  }
}
/*  -------------------------------------
    |                                   |
    |          Why us section           |
    |                                   |
    -------------------------------------
*/
#why-us {
  background-color: #DCE5E7;
  height: fit-content;
  padding-top: 55px;
  padding-bottom: 55px;
}
#why-us h1 {
  text-align: center;
}
#why-us h2 {
  margin-top: 20px;
  text-align: center;
}
#why-us > div {
  margin-top: 50px;
}
@media (max-width: 991px) and (min-width: 576px) {
  #why-us > div {
    margin-top: 35px;
  }
}
@media (max-width: 575px) {
  #why-us > div {
    margin-top: 20px;
  }
}
#why-us > div > div {
  justify-content: unset;
  margin-top: 17px;
  margin-bottom: 17px;
}
#why-us > div > div img {
  margin-right: 20px;
}
@media (max-width: 991px) and (min-width: 576px) {
  #why-us > div > div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  #why-us > div > div {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
}
/*  -------------------------------------
    |                                   |
    |       Our Services section        |
    |                                   |
    -------------------------------------
*/
#our-services {
  padding-top: 55px;
  padding-bottom: 45px;
}
#our-services h1 {
  text-align: center;
}
#windows {
  background-image: linear-gradient(rgba(112, 112, 112, 0.25), rgba(112, 112, 112, 0.25)), url(../images/windows.jpg);
}
#doors {
  background-image: linear-gradient(rgba(255, 107, 0, 0.4), rgba(255, 107, 0, 0.4)), url(../images/doors.jpg);
}
#balconies {
  background-image: linear-gradient(rgba(112, 112, 112, 0.4), rgba(112, 112, 112, 0.4)), url(../images/balconies.jpg);
}
#services > section a,
#services > section a:visited {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 500px;
  width: 100%;
  height: 100%;
  color: #F5F5F5;
  font-size: 80px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.68);
  transition: 0.7s;
}
@media (max-width: 991px) and (min-width: 576px) {
  #services > section a,
  #services > section a:visited {
    font-size: 56px;
    line-height: 350px;
  }
}
@media (max-width: 575px) {
  #services > section a,
  #services > section a:visited {
    font-size: 36px;
    line-height: 200px;
  }
}
#services > section {
  background-size: cover;
  background-position: center;
  padding: 0;
}
#windows a:hover {
  background-color: #004287;
}
#doors a:hover {
  background-color: #ff8933;
}
#balconies a:hover {
  background-color: #5199FF;
}
/*  -------------------------------------
    |                                   |
    |      End of landing section       |
    |                                   |
    -------------------------------------
*/
#end-landing {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #DCE5E7;
}
#end-landing hr {
  text-align: center;
  margin-bottom: 35px;
}
#end-landing h1 {
  text-align: center;
}
#end-landing h3 {
  text-align: center;
  margin-bottom: 40px;
}
/*
  ----------------------------------------------------------------------
    About Page
  ----------------------------------------------------------------------
*/
/*  -------------------------------------
    |                                   |
    |          About section            |
    |                                   |
    -------------------------------------
*/
#about {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DCE5E7;
}
#about h1 {
  text-align: center;
}
#about p {
  width: 630px;
  padding-left: 60px;
  font-size: 34px;
  height: 640px;
}
@media (max-width: 1199px) {
  #about p {
    padding: 0;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  #about p {
    font-size: 24px;
  }
}
#about > div {
  margin-top: 45px;
}
@media (max-width: 575px) {
  #about > div {
    margin-top: 25px;
  }
}
#about div {
  flex-wrap: wrap-reverse;
}
.img-about {
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 540px;
  height: 640px;
  border-radius: 15px;
}
@media (max-width: 1199px) {
  .img-about {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .img-about {
    width: 100%;
    height: 400px;
  }
}
/*  -------------------------------------
    |                                   |
    |        Contacts section           |
    |                                   |
    -------------------------------------
*/
#contacts {
  padding-top: 55px;
  padding-bottom: 55px;
}
#contacts h1 {
  text-align: center;
}
#contacts hr {
  margin-bottom: 55px;
}
@media (max-width: 575px) {
  #contacts hr {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  #contacts {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
#contacts p {
  font-size: 34px;
  width: 100%;
}
@media (max-width: 575px) {
  #contacts p {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  #contacts p {
    font-size: 20px;
  }
}
#contacts p b {
  font-weight: 600;
}
#contacts img {
  display: inline-block;
  margin-right: 35px;
}
@media (max-width: 575px) {
  #contacts img {
    margin-right: 15px;
  }
}
#contacts > div > div {
  justify-content: flex-start;
  margin-bottom: 35px;
}
@media (max-width: 575px) {
  #contacts > div > div {
    margin-bottom: 15px;
  }
}
/*  -------------------------------------
    |                                   |
    |           Map section             |
    |                                   |
    -------------------------------------
*/
#map {
  background-color: #DCE5E7;
  padding-top: 55px;
  padding-bottom: 25px;
}
@media (max-width: 575px) {
  #map {
    padding-top: 25px;
  }
}
#map iframe {
  width: 100%;
  height: 80vh;
  border: 1px solid #707070;
}
#map h1 {
  text-align: center;
}
#map hr {
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  #map hr {
    margin-bottom: 25px;
  }
}
/*
  ----------------------------------------------------------------------
    Windows Page
  ----------------------------------------------------------------------
*/
/*  -------------------------------------
    |                                   |
    |          Types section            |
    |                                   |
    -------------------------------------
*/
#types {
  background-color: #D4DADE;
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (max-width: 575px) {
  #types {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
#types > div {
  justify-content: space-between;
}
@media (max-width: 991px) {
  #types > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#types hr {
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  #types hr {
    margin-bottom: 5px;
  }
}
#types h1 {
  text-align: center;
}
.window-type,
.window-type:visited {
  display: inline-block;
  position: relative;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1199px) and (min-width: 992px), (max-width: 575px) {
  .window-type,
  .window-type:visited {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .window-type,
  .window-type:visited {
    margin-bottom: 25px;
  }
}
.window-type div,
.window-type:visited div {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 400px;
}
@media (max-width: 1199px) and (min-width: 992px), (max-width: 575px) {
  .window-type div,
  .window-type:visited div {
    width: 300px;
    height: 350px;
  }
}
.window-type p,
.window-type:visited p {
  font-size: 26px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #A6B7BB;
}
@media (max-width: 1199px) and (min-width: 992px), (max-width: 575px) {
  .window-type p,
  .window-type:visited p {
    font-size: 22px;
  }
}
#metalplastic {
  background-image: url(../images/metalplastic-window.jpg);
}
#aluminium {
  background-image: url(../images/aluminium-window.jpg);
}
#wooden {
  background-image: url(../images/wooden-window.jpg);
}
/*  -------------------------------------
    |                                   |
    |         Prices section            |
    |                                   |
    -------------------------------------
*/
#prices {
  background-color: #DCE5E7;
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (max-width: 575px) {
  #prices {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
